.teams-component {
    font-size: 1.5rem;
}

.team-table {
    background-color: white;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px 20px;
}

td {
    padding: 2px 10px;
}

.th-green {
    color:green;
    text-transform: uppercase;
}

.th-blue {
    color:blue;
    text-transform: uppercase;
}

.fa-arrow {
    color: black;
    margin: 5px;
}

.p-invite {
    font-size: 1rem;
    padding-top: 0;
}


