.teams-component {
    font-size: 1.5rem;
}

.team-table {
    background-color: white;
    border: none;
    border-radius: 4px;
    display: grid;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px 0;
}

td {
    padding: 2px 10px;
}

.th-green {
    color:green;
    text-transform: uppercase;
}

.th-blue {
    color:blue;
    text-transform: uppercase;
}

.fa-arrow {
    color: black;
    margin: 5px;
}

.p-invite {
    font-size: 1rem;
    padding-top: 0;
}

@media only screen and (min-width: 760px) {
.team-table {
    width: 90%;
    }
}

